@{
    Layout = null;
    Page.Title = Page.Title ?? "云合同";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title></title>
    <script src="~/static/3rd/jquery-1.9.1.js" type="text/javascript"></script>

    <link href="~/static/3rd/Office.css" rel="stylesheet" type="text/css" />
    <!-- 使用在线的最新Office.js-->
    <script src="https://appsforoffice.microsoft.com/lib/beta/hosted/office.js" type="text/javascript"></script>
    
    <!-- 要允许使用 Office.js 的本地引用进行脱机调试，请使用:
    <script src="~/static/3rd/Office/MicrosoftAjax.js" type="text/javascript"></script>
    <script src="~/static/3rd/Office/1/office.js" type="text/javascript"></script>
-->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/static/App.css" rel="stylesheet" type="text/css" />
    <script src="~/static/App.js" type="text/javascript"></script>


    @RenderSection("header", false)
</head>
<body>
    <div id="content-header">
        <div class="padding">
            <h2>@Page.Title </h2>
        </div>
    </div>
    <div id="content-main">
        <div class="padding">
            @(RenderBody())
        </div>
    </div>

    <div id="content-footer">
        <div class="padding">
            @RenderSection("footer", false)
        </div>
    </div>
    @RenderSection("scripts", false)
</body>
</html>